extends layout

<<<<<<< HEAD
block content
  //- Displays all product types, three products for each type
=======
  block content
    a#showLogin(href='/login')= 'login'
    a#showRegister(href='/register')= 'register'
>>>>>>> master
