nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/') Bangazon
  ul.navbar-nav.mr-auto
    li.nav-item.dropdown
      a.nav-link.dropdown-toggle#catDrop(href='#', data-toggle='dropdown',aria-labelledby='#catDrop') Categories
      .dropdown-menu
        for cat in categories
          a.dropdown-item(href='/categories/'+cat.id)= cat.title
    if session.passport
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle#settings(href='#', data-toggle='dropdown',aria-labelledby='#settings')= session.passport.user.email
        .dropdown-menu
          a.dropdown-item(href='/settings') my account
          a.dropdown-item(href='/products/manage') manage products
          a.dropdown-item(href='/payment/manage') manage payment types
        li.nav-item
          a.nav-link(href='/cart') view cart
        li.nav-item
          form(method="POST")
            button.nav-link(type="submit" formaction="/logout") logout
    if !session.passport
      li.nav-item
        a.nav-link(href='/login') login
      li.nav-item
        a.nav-link(href='/register') register
    form(method='post', action='/search').form-inline.my-2.my-lg-0
      input.form-control.mr-sm-2(type="search", name='term', placeholder="Search products", aria-label='Search')
      button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search