if product.quantity_left == null || product.quantity_left > 0
  .product
    h1
      a(href='/products/'+product.id)= product.title
    h4= product.current_price
      if product.quantity_left
        =' ('+product.quantity_left+' left)'
    p= product.description