if product.quantity_left > 0 || state === "manage"
  .product
    h1
      a(href='/products/'+product.id)= product.title
    h4= product.current_price + ' ('+product.quantity_left+' left)'
    p= product.description
    if state === "manage"
      button.deleteProd delete