extends layout

block content
  h1 Cart
  if message
    h2=message
    a.btn.btn-primary(href='/') Product Categories
  else
    .row
      for product in products
        include partials/product-card
