extends layout

block content
  h1 Complete Your Order
  form(action="/cart/checkout" method="POST")
    if paymentOpts.length > 0
      select(name="payment_option_id")
        each opt in paymentOpts
          option(value=opt.id) #{opt.type} | #{opt.account_number}
      button.btn.btn-primary(type="submit" text="Submit") Submit
    else 
      h3 You don't have any payment options!
      a(href='/payment/new')
        button.btn.btn-primary(type='button') Add a Payment Option

    
