doctype html
html
  head
    title Bangazon!
  body
    include partials/nav.pug
    h1 Bangazon!
    h2 #{globalWow}
    h3= data

  block content
    a#showLogin(href='/login')= 'login'
    a#showRegister(href='/register')= 'register'
