extends layout

block content
  for payment in paymentOptions
    .payment-option
      h3= payment.type
      p= 'Account Number: '
        for digit in payment.account_number.toString()
          ='•'