extends layout

block content
  //- List of products authed user is selling
  //- Delete buttons for those products
  //- Form to fill out for new product info?
    //- Form is always visible? Appears on clicking a button? New product form
    //- is its own page/template?
