extends layout
block content
  h1 Add a New Product
  form(action="/products/manage/new" method="POST")
    input(type="text" name="title" placeholder="Product Name")
    input(type="text" name="current_price" placeholder="Price")
    input(type="text" name="quantity" placeholder="How many are there available to sell?")
    input(type="text" name="description" placeholder="Description")
    select(name="product_type_id")
      each type in productTypes
        option(value=type.id)=type.title

    button(type="submit" text="Submit") Submit
