extends layout

block content
  h1 Order History
  for order in orderHistory
    h3= order.createdAt
    ul
      for product in order.products
        li= product.title+' ($'+product.price+')'
    p='Date completed: '+order.updatedAt
    p='Total: $'+order.sum